
.banner {
    height: 27em;
    padding-top: 7.5em;

    background-image: url(../../../bg/bottles.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
