<footer class="end fixed-bottom">
    <div class="row">
        <div class="col-md-4 naviga_us">
            <ul>
                <li class="text"><a href="#">Find Us</a></li>
            </ul>
        </div>

        <div class="col-md-4 socials">
            <a href="https://twitter.com/home">
                <fa-icon [icon]="faTwitter" class="type pe-3" style="color:dodgerblue;"></fa-icon>
            </a>
            <a href="https://www.facebook.com/">
                <fa-icon [icon]="faFacebook" class="type ps-3" style="color: blue"></fa-icon>
            </a>
        </div>

        <div class="col-md-4 info">
            <ul>
                <li class="text">©</li>
                <li class="text">e-mail: abcdefgh@lmnopq.com</li>
                <li class="text">Telefono: 123456789</li>
                <li class="text">Roma (RM)</li>
                <li class="text">Cookies Policy</li>
            </ul>
        </div>
    </div>
</footer>