<footer class="end fixed-bottom">
    <div class="row">
        <div class="col-md-4 naviga_us">
            <ul>
                <li class="text"><a href="#">Find Us</a></li>
            </ul>
        </div>

        <div class="col-md-4 socials">
            <!-- <fa-icon [icon]="faTwitter"></fa-icon> -->
        </div>

        <div class="col-md-4 info">
            <ul>
                <li class="text">©</li>
                <li class="text">e-mail: abcdefgh@lmnopq.com</li>
                <li class="text">Telefono: 123456789</li>
                <li class="text">Roma (RM)</li>
                <li class="text">Cookies Policy</li>
            </ul>
        </div>
    </div>
</footer>