
#timed:after {
    content: '';

    display:block;
    border-bottom: solid 3px rgba(240, 220, 200, 0.5);
    width: 15%;
    margin: auto;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    
}   #timed:hover:after {
        transform: scaleX(1);
}