
<h2 class="set text-center pb-3">Dettagli</h2>

<div> <!--DESTROY SENZA SALVATAGGI-->
    <button type="submit" class="btn btn-primary"
            style=" float: right; text-transform: uppercase; font-weight: bold;">Indietro</button>
</div>

<span style="height: 5em; display: block;"></span>





<div style="border: 3px solid rgba(240, 220, 200); border-radius: 2%; padding: 0.5em; box-shadow: 5px 10px #888888;">
<!-- 
    {{ drink.id.imgpath }}
    <p>{{ drink.id.descrizione }}</p>
-->
</div>

<!-- 

<div class="row mx-1">
    <div class="col-md-5 m-auto">
        <img src="../../assets/img/birra1.jpg" class="img-fluid" alt="" style="width: 11.5em;">
        <br><br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>

 -->