
<h2 class="text-center pb-3">Dettagli</h2>

<div>
    <button type="submit" class="btn btn-primary" (click)="onCancel()" style=" float: right;">Indietro</button>
</div>

<span class="empty"></span>

<div class="shop_holder">
    <div class="row mx-1" style="text-align: center;">
        <div class="col-md-6 m-auto">
            <img src="{{ imgStatus }}" class="img-fluid img_spec" alt="">
        </div>
        <div class="col-md-6 m-auto">
            <p id="special_p">{{ descStatus }}</p>
        </div>
    </div>
</div>
