
<p class="set pb-3">Dettagli</p>

<div class="row mx-1">
    <div class="col-md-5 m-auto">
        <img src="../../assets/img/birra1.jpg" class="img-fluid" alt="" style="width: 11.5em;">
        <br><br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque sint repudiandae beatae quo veritatis impedit, pariatur dolores illum, quae rem, blanditiis assumenda libero voluptas sit alias ratione nesciunt quam ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos distinctio sunt illo, modi aspernatur iste? Iure omnis, pariatur, debitis rem cum deserunt odit, unde commodi accusantium dolores enim corrupti sit.</p>
    </div>
</div>