
<section class="container-fluid">
    <h2>La Nostra Storia</h2>

    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-10"> <p>{{text_one}} <br> {{text_two}} </p> </div>
        <span class="col-md-1"></span>
    </div>

    <div class="row">
        <div class="col-md-8"> <p>{{text_thr}}</p> </div>
        <div class="col-md-4"><img src="assets/img/main_one.jpg" style="width: 35em;" alt=""></div>
    </div>

    <div class="row">
        <div class="col-md-4"><img src="assets/img/main_two.jpg" style="width: 25em;" alt=""></div>
        <div class="col-md-8"> <p>{{text_fou}}</p> </div>
    </div>

    <div class="row">


    </div>

    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-10"> <p>{{text_fiv}}</p> </div>
        <span class="col-md-1"></span>
    </div>
</section>