
p {
    text-align: justify;
}

img {
    border-radius: 3em;

}   img.img_odd {
        border-top-right-radius: 8rem;
        border-bottom-left-radius: 8rem;
        box-shadow: -7.5px -7.5px 7.5px rgba(0, 0, 0, 0.4);

}   img.img_even {
        border-top-left-radius: 8rem;
        border-bottom-right-radius: 8rem;
        box-shadow: 7.5px 7.5px 7.5px rgba(0, 0, 0, 0.4);
}

iframe {
    box-shadow: 7.5px 7.5px 7.5px rgba(0, 0, 0, 0.4);
}