
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<section class="container-fluid">

    <br>
    
    <h2 class="text-center pb-2">La Nostra Storia</h2>

    <div class="row">
        <span class="col-md-1"></span>
        <div class="col-md-10"> <p> {{ text_one }} <br> {{ text_two }} </p> </div>
        <span class="col-md-1"></span>
    </div>

    <br>

    <div class="row d-flex" style="text-align: center; justify-content: center; align-items: center">
        <div class="col-md-6 p-5"> <p> {{ text_thr }} </p> </div>
        <div class="col-md-6 m-auto"><img src="assets/img/main_one.jpg"
            class="img-fluid img_odd" style="width: 35em;" alt=""></div>
    </div>

    <br><br>

    <div class="row d-flex" style="text-align: center; justify-content: center; align-items: center">
        <div class="col-md-6 m-auto"><img src="assets/img/main_two.jpg"
            class="img-fluid img_even" style="width: 35em;" alt=""></div>
        <div class="col-md-6 p-5"> <p> {{ text_fou }} </p> </div>
    </div>

    <br><br>

    <div class="ratio ratio-16x9 m-auto" style="width: 65%;">
        <iframe src="https://www.youtube.com/embed/KLzVLnb8Egk?controls=0" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br>

    <div class="row align-items-center my-5">
        <span class="col-md-1"></span>
        <div class="col-md-5 mx-1"> <p>{{ text_fiv }}</p> </div>
        <div class="col-md-5 mx-1"> <p>{{ text_six }}</p> </div>
        <span class="col-md-1"></span>
    </div>
</section>