
<section class="container-fluid">
  <br>

  <h2 class="text-center pb-2">Contattaci</h2>

  <br>

  <!-- SPINNER -->
          <section *ngIf="isLoading">
            <p class="text-center" style="text-transform: uppercase;">l'operazione può richiedere qualche secondo....</p>

            <div class="loader"></div>
          </section>

  <!-- FRONTEND ERROR -->
          <div *ngIf="errorFront">
            <app-alert [message]="errorFront" (exit)="onClose()"></app-alert>
          </div>

  <div class="row">
    <div class="col-md-6 m-auto">

      <form [formGroup]="sendMessage">
        <div class="mb-3">
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="abcde@mail.it">

          <span *ngIf="!sendMessage.get('email').valid && sendMessage.get('email').touched"
          class="form-label" style="color: red; font-weight: bold;">
          Inserisci una mail valida!</span>
        </div>

        <textarea formControlName="messaggio" class="form-control" placeholder="Il tuo messaggio" style="height: 5em"></textarea>

        <span *ngIf="!sendMessage.get('messaggio').valid && sendMessage.get('messaggio').touched"
          class="form-label" style="color: red; font-weight: bold;">
          Messaggio non accettato</span>
        <br>

        <div style="float: right;">
          <button
          (click) ="onInoltro()"
          *ngIf="sendMessage.valid"
          [disabled] = "isLoading"
          type="submit"
          class="btn btn-light" style="text-transform: uppercase;">
          Grazie per il tuo contributo! </button>
        </div>
      </form>
      
    </div>
  </div>

  <br>

  <!-- BACKEND ERROR -->
          <div *ngIf="errorBack" class="row">
            <div class="col-md-6 m-auto alert alert-danger">
              <p style="font-size: 50px"> {{ errorBack }} </p>
            </div>
          </div>
          
  <span class="empty"></span>


  <button class="btn btn-primary" type="button" (click)="getPost()">GET</button>

  <table mat-table [dataSource]="postArray"></table>

</section>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
