
<p class="set pb-3">Acquista</p>

<form>
    <div class="row"> <!--input-->
        <div class="col-md-9 m-auto">
            <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;">E-mail:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;">E-mail:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            <label for="exampleInputEmail1" class="form-label" style="font-weight: bold;">E-mail:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>

    <br><br>

    <div class="row"> <!--buttons-->
        <div class="col-md-9 m-auto">
            <button type="submit" class="btn btn-light" style="text-transform: uppercase; font-weight: bold;">Invia</button>
            <button type="submit" class="btn btn-light" style="text-transform: uppercase; font-weight: bold;">Invia</button>
            <button type="submit" class="btn btn-light" style="text-transform: uppercase; font-weight: bold;">Invia</button>
        </div>
    </div>
</form>
