
form {
    border: 3px solid rgba(240, 220, 200);
    border-radius: 2%;
    padding: 0.5em;
    box-shadow: 5px 10px #888888;

}   form label,
    form button {
        font-weight: bold;

}   form button {
        text-transform: uppercase;

}   form button:nth-child(2) {
        float: right;
}
