
/* notes */
    /*
        FONT
        'Inconsolata', monospace;  -testi generali-
        'Playfair Display', serif; -nav/footer-

        COLORI
        rgba(0, 0, 0, 0.4) -nav, nero trasparente-

        background-color: rgba(240, 220, 200); -grigio, sfondo-

        ALTRO

            DA FARE:
            - CSS custom prop (stili duplicati)
            - hover: NAV, SHOP BG_PROD
            - responsive:
                -hamburger menu
                -main (tweaks)
                -shop (-ingrandisci la finestra per visualizzare-)
                -info (tweaks)

            EXTRA:
            - custom pipe testo finale in homepage
            - spinner form info (->response [true: valid; false; invalid]) guarda 102 CORSO
            - custom HR in main (txt/img)
            - animazioni generali
    */






/* fonts */
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Playfair+Display&display=swap');


/* reset */
    html,
    body {
        margin: 0 auto;
        padding: 0 auto;

        box-sizing: border-box;
        font-family: 'Inconsolata', monospace;
        color: black;
        background-color: rgb(190, 180, 170);
    }

    