



:root {
    --ma: auto; /*margin auto*/
    --ff: 'Playfair Display', serif; /*diff font*/
    --ttuc: uppercase; /*text uppercase*/
    --fwb: bold; /*bold font*/
    --tc: center; /*center text*/
    --img: 11em; /*img var*/
}

/* fonts */
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Playfair+Display&display=swap');

/* css constr. -reset- */
html,
body {
    margin: 0 auto;
    padding: 0 auto;

    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(190, 180, 170);
    color: black;
}
