
<section class="row d-flex m-auto" style="position: relative;">

    <div class="col-md-7"> <!-- SX -->
        <!-- <p class="pb-5">vetrina (STATIC)</p> -->

        <div class="row">
            <!-- <div class="row bg-light prova me-3 pt-5"> -->
            <div class="col-md-4">
                <img src="../../assets/img/birra1.jpg" alt="" class="img_shop">
                <div class="text-center">
                    <button class="btn btn-primary me-1">Vedi</button>
                    <button class="btn btn-success ms-1">Acquista</button>
                </div>
            </div>
            
            <div class="col-md-4">
                <img src="../../assets/img/birra2.jpg" alt="" class="img_shop">
                <div>
                    <button class="btn btn-info">Vedi</button>
                    <button class="btn btn-primary">Acquista</button>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/img/birra3.jpg" alt="" class="img_shop">
                <div>
                    <button class="btn btn-info">Vedi</button>
                    <button class="btn btn-primary">Acquista</button>
                </div>
            </div>
        </div>

    </div>

        <div class="col-md-1 breaker"></div> <!--non va ad incidere come colonna-->
    
        <div class="col-md-5"> <!-- DX -->
            <!-- <p>dettagli/cart (DYNAMIC)</p> -->
        </div>

</section>

