
section {
    position: relative;
}

.breaker {
    position: absolute;

    border-left: 2px solid rgba(0, 0, 0, 0.4);
    height: 70%;
    top: calc(100% - 90%);
    left: 57.5%;
}

#vetrina_cont {
    height: auto;
    border-radius: 4%;
    text-align: center;
}

.img_shop {
    width: 11.5em;
}

.ff {
    text-transform: uppercase;
    font-weight: bold;
}