
h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.breaker {
    position: absolute;

    border-left: 2px solid rgba(0, 0, 0, 0.4);
    height: 70%;
    top: calc(100% - 87.5%);
    left: 57.5%;
}

#vetrina_cont {
    height: auto;
    border-radius: 4%;
    text-align: center;
}

.img_shop {
    width: 11.5em;
}


.set {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 2.3em;
    text-align: center;
}

.ff {
    text-transform: uppercase;
    font-weight: bold;
}