
section div {
    flex-direction: column;
}

.breaker {
    position: absolute;

    border-left: 2px solid rgba(0, 0, 0, 0.4);
    height: 800px; /* cambiare */
    top: 5vh;
    left: 57.5%;
}

.prova {
    height: 800px; /* cambiare */
    border-radius: 4%;

    flex: wrap;
}

.img_shop {
    width: 220px;
}