
<section class="row d-flex m-auto" style="position: relative;">

    <div class="col-md-7"> <!-- SX -->
        <div class="bg-light me-3 pb-5" id="vetrina_cont">
            <p class="set pb-3">vetrina</p>

            <div class="row mx-1">
                <div class="col-md-4">
                    <img src="../../assets/img/birra1.jpg" alt="" class="img_shop">
                    <div class="text-center mt-1">
                        <button class="btn btn-primary me-1">Vedi</button>
                        <button class="btn btn-success ms-1">Acquista</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/birra2.jpg" alt="" class="img_shop">
                    <div class="text-center mt-1">
                        <button class="btn btn-primary me-1">Vedi</button>
                        <button class="btn btn-success ms-1">Acquista</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/birra3.jpg" alt="" class="img_shop">
                    <div class="text-center mt-1">
                        <button class="btn btn-primary me-1">Vedi</button>
                        <button class="btn btn-success ms-1">Acquista</button>
                    </div>
                </div>
            </div>

            <span style="height: 3em; display: block;"></span>

            <div class="row mx-1">
                <div class="col-md-4">
                    <img src="../../assets/img/l1.jpg" alt="" class="img_shop">
                    <div class="text-center mt-1">
                        <button class="btn btn-primary me-1">Vedi</button>
                        <button class="btn btn-success ms-1">Acquista</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/l2.jpg" alt="" class="img_shop">
                    <div class="text-center mt-1">
                        <button class="btn btn-primary me-1">Vedi</button>
                        <button class="btn btn-success ms-1">Acquista</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../assets/img/l3.jpg" alt="" class="img_shop">
                    <div class="text-center mt-1">
                        <button class="btn btn-primary me-1">Vedi</button>
                        <button class="btn btn-success ms-1">Acquista</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <div class="col-md-1 breaker"></div> <!--non va ad incidere come colonna-->
    
        <div class="col-md-5"> <!-- DX -->
            <!-- <p>dettagli/cart (DYNAMIC)</p> -->
        </div>

</section>

