
<table mat-table [dataSource]="dataSource">
  
    <!-- colonne -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> EMAIL </th>
        <td mat-cell *matCellDef="let record"> {{record.email}} </td>
      </ng-container>

      <ng-container matColumnDef="messaggio">
        <th mat-header-cell *matHeaderCellDef> MESSAGGIO </th>
        <td mat-cell *matCellDef="let record"> {{record.messaggio}} </td>
      </ng-container>

    <!-- dichiarazione colonne [email, messaggio] -->
        <tr mat-header-row *matHeaderRowDef="displayCol"></tr>
    <!-- calcolo righe per colonne -->
        <tr mat-row *matRowDef="let row; columns: displayCol;"></tr>
</table>
  
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Elementi x pagina">
</mat-paginator>
